@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  src: url(../public/fonts/Noto_Sans/NotoSans-Light.ttf) format('tff');
  font-weight: 300;
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  src: url(../public/fonts/Noto_Sans/NotoSans-Regular.ttf) format('tff');
  font-weight: 400;
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  src: url(../public/fonts/Noto_Sans/NotoSans-Medium.ttf) format('tff');
  font-weight: 500;
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  src: url(../public/fonts/Noto_Sans/NotoSans-SemiBold.ttf) format('tff');
  font-weight: 600;
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  src: url(../public/fonts/Noto_Sans/NotoSans-Bold.ttf) format('woff');
  font-weight: 700;
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  src: url(../public/fonts/Noto_Sans/NotoSans-ExtraBold.ttf) format('tff');
  font-weight: 800;
}
@font-face {
  font-family: 'Noto Sans';
  font-style: oblique;
  src: url(../public/fonts/Noto_Sans/NotoSans-LightItalic.ttf) format('tff');
  font-weight: 300;
}
@font-face {
  font-family: 'Noto Sans';
  font-style: oblique;
  src: url(../public/fonts/Noto_Sans/NotoSans-Italic.ttf) format('tff');
  font-weight: 400;
}
@font-face {
  font-family: 'Noto Sans';
  font-style: oblique;
  src: url(../public/fonts/Noto_Sans/NotoSans-MediumItalic.ttf) format('tff');
  font-weight: 500;
}
@font-face {
  font-family: 'Noto Sans';
  font-style: oblique;
  src: url(../public/fonts/Noto_Sans/NotoSans-SemiBoldItalic.ttf) format('tff');
  font-weight: 600;
}
@font-face {
  font-family: 'Noto Sans';
  font-style: oblique;
  src: url(../public/fonts/Noto_Sans/NotoSans-BoldItalic.ttf) format('tff');
  font-weight: 700;
}
@font-face {
  font-family: 'Noto Sans';
  font-style: oblique;
  src: url(../public/fonts/Noto_Sans/NotoSans-ExtraBoldItalic.ttf) format('tff');
  font-weight: 800;
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url(../public/fonts/Noto_Sans_KR/NotoSansKR-Thin.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url(../public/fonts/Noto_Sans_KR/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url(../public/fonts/Noto_Sans_KR/NotoSansKR-Regular.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url(../public/fonts/Noto_Sans_KR/NotoSansKR-Medium.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url(../public/fonts/Noto_Sans_KR/NotoSansKR-Bold.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src: url(../public/fonts/Noto_Sans_KR/NotoSansKR-Black.otf) format('opentype');
}


body {
  margin: 0;
  font-family:'Noto Sans', 'Noto Sans KR';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:link { 
  color: #000; 
  text-decoration: none;
}
a:visited { 
  color: black; 
  text-decoration: none;
}

