header{
    background-color: #fff;
    height: 100px;
    text-align: center;
    font-size: 1.8rem;

    .inner_container{
        display: flex;

        .logo{
            width: 300px;
            p{
                font-size: 22px;
                font-style: oblique;
                margin: 0;
                line-height: 100px;
            }
        }
    
        div.navigation{
            height: 100px;
            font-size: 1rem;
            display: flex;
            justify-content: center;
            line-height: 100px;
            flex: 1;
        
            li{
                list-style:none;
                margin: 0 20px;
                a{
                    text-decoration: none;
                    color: #000;
                    font-weight: 700;
                }
            }
        }

        div.lang-box{
            line-height: 100px;
            margin: 0 40px;
            a{
                img{
                    width: 20px;
                    height: 20px;
                    margin: 3px;
                }
            }
        }
        
    }


   
    
}